<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>JANGID CAFE</h1>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink=""><b>Home</b></a>
            <a routerLink="menu"><b>Menu</b></a>
            <a routerLink="about"><b>About</b></a>
            <a routerLink="contact"><b>Contact</b></a>
            <a routerLink="location"><b>Location</b></a>
            <a routerLink="login"><b>LogIn</b></a>
                 
              
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a class="fb" href="https://www.facebook.com/piyush.jangid.338658" target="_blank"><i class="bi bi-facebook"></i></a>
            <a class="wa" href="https://wa.me/8949344623" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a class="ins" href="https://www.instagram.com/piyushjangir11111/" target="_blank"><i class="bi bi-instagram"></i></a>
            <!-- <a href="#" target="_blank"><i class="bi bi-youtube"></i></a> -->
        </div>
    </div>
</div>