<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Clients List</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
            <th class="text-center" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let client of Clients; let i = index">
            <th scope="row">{{client.id}}</th>
            <td>{{client.FirstName}}</td>
            <td>{{client.lastname}}</td>
            <td>{{client.mobile}}</td>
            <td>{{client.email}}</td>
  
            <td class="text-center">
              <button class="btn btn-sm btn-primary" routerLink="/edit-client/{{client.id}}">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="delete(client.id, i)">Delete</button>
            </td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>